<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Chiavi Funzionali-->
    <add key="RespectCoolDown" value="False"/>
    <add key="LogPath" value="D:\Sviluppo\DotNet\ConnettoreOrangePix\_Log\OrangePix.log"/>
    <add key="ConsideraComeMacroCalsse" value="'ACC'"/>
    <!--Fine Chiavi Funzionali-->

    <!--Chiavi WS-->
    <add key="SendFilesToWS" value="False"/>

    <add key="urlBase" value="https://www.skisises.it"/>
    <add key="urlPath" value="/module/op_import_json/api"/>
	<add key="urlBase2" value="198.177.120.66"/>
	<add key="urlPath2" value="/MasterExport"/>

    <add key="Key" value="PY9C29HHEHRRFHYGQER5E2B2XKFRGS8L"/>
    <add key="onlyNewItems" value="0"/>
    <!--0 = per creare ed aggiornare anche i records che sono già prensenti / 1 = per creare solo i nuovi records senza aggiornare gli altri-->

    <add key="CooldownCall" value="1000"/>
    <!--In ms indica quanto deve aspettare tra una chiamata e l'altra al WS-->
    
    <add key="RequestTimeout" value="300000"/>
    <!--Fine Chiavi WS-->
    
    <!--Chiavi per creazione files-->
    <add key="PathJsonFiles" value="C:\tmp\JSON"/>
    
    <add key="ParentCategoryFileName" value="parentCategories"/>
    <add key="ChildCategoryFileName" value="childCategories"/>
    <add key="UploadBrandFileName" value="uploadBrand"/>
    <add key="UploadItemFileName" value="uploadItems"/>
    <add key="UploadVariationFileName" value="uploadVariations"/>

    <add key="RowLimit" value="5000"/>
    <!--Fine Chiavi per creazione file-->

    <!--Chiavi Mail-->
    <add key="enable_err_mail" value="0"/>

    <add key="mail_host" value="webmail.robinson.it"/>
    <add key="mail_port" value="25"/>
    <add key="mail_domain" value=""/>

    <add key="defaultCredentials" value="0"/>
    <add key="enableSSL" value="0"/>

    <add key="mail_userName" value="masterq@remote.robinson.it"/>
    <add key="mail_password" value="lducl6vr"/>

    <add key="mail_From_address" value="masterqualita@robinson.it"/>
    <add key="mail_From_displayName" value="Connettore OrangePix BrunoSport"/>

    <add key="err_mail_to_address" value="assistenza.masterevo@robinson.it"/>
    <add key="err_mail_cc_address" value=""/>
    <add key="err_mail_ccn_address" value=""/>

    <add key="end_mail_to_address" value="assistenza.masterevo@robinson.it"/>
    <add key="end_mail_cc_address" value=""/>
    <add key="end_mail_ccn_address" value=""/>
    <!--Fine Chiavi Mail-->

    <!--Chiavi di VS-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <!--Fine Chiavi di VS-->
  </appSettings>
  <connectionStrings>
    <add name="DEFAULT" connectionString="Persist Security Info=True;Integrated Security=SSPI;Data Source=ROBSW2; Initial Catalog=BRUNOSPORT_SVILUPPO;Connect Timeout=0" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
